<div class="welcome-page">
  <div align="center" class="welcome-box">
    <br />
    <br />
    <!-- <img src="https://cdn.pixabay.com/photo/2016/10/27/09/35/book-1773756_1280.png" width="400px" /> -->
    <img src="/images/pixabay_book-1773756.png" width="400px" />
    <br />
    <br />
    <div>
      <a href="/users/sign_in"><button>Sign In</button></a> <a href="/users/sign_up"><button>Sign Up</button></a>
    </div>
  </div>
</div>
