/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
/* TABLE OF CONTENTS */
/* 1) General */
/* 2) Welcome Page */
/* 3) Users */
/* 4) Shelves */
/* 5) Books */
/* 6) Timelines */
/* 7) Events */
/* 8) Forms */
/* 9) Admin-specific */
/* 10) Animation */
/* 11) Error Messages */

/* 1) General */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

body {
  background-color: #F7F7F7;
  margin: 0px;
  font-family: 'Raleway', sans-serif;
}

h1, h2 {
  margin: 0;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'Neucha', cursive;
  font-weight: bolder;
  justify-content: center;
  text-align: center;
}

h1 {
  color: #707070
}

h3 {
  font-family: 'Neucha', cursive;
  font-weight: 600;
  color: #02A7BC;
}

dl {
  margin: 5px;
}

.bold-text {
  font-weight: bold;
}

.page-header {
  background-color: rgba(247,247,247,0.5);
  z-index: 30;   /* page-header */
  margin-top: 0px;
}


/* 2) Welcome Page */
.welcome-box {
  display: flow-root;
  background-color: white;
  border-radius: 10px;
  width: 400px;
  justify-content: center;
}

#nav-bar {
  width: 100%;
  height: 70px;
  align-items: center;
  /* background-color: #D3D3D3; solid gray blends in with background*/
  background-color: rgba(255,255,255,0.5);
  position: fixed;
  bottom: 60px;
  margin: 0;
  padding: 15px;
  z-index: 10;  /* nav-bar */
}

#nav-icons {
  display: flex;
  justify-content: space-between;
}

.chevron-left > .solid {
  padding-left: 0px;
  margin-left: 0px;
  padding-right: 20%;
}

.div-circles {
  margin: 10px;
  align-self: center;
}

.nav-circle {
  margin: 10px;
  padding: 10px;
  shape-margin: 10px;
}

#menu-bar {
  background-color: white;
  position: fixed;
  display: inline-grid;
  columns: 4;
  bottom: 0;
  height: 60px;
  width: 100%;
  padding: 10px;
  margin: 0px;
  z-index: 20;  /* menu-bar */
}

.menu-icon {
  padding-left: 12%;
  padding-right: 12%;
  color: #707070;
  display: flex;
  justify-content: space-between;
}

.container {
  padding-left: 20px;
}

/* 3) Users */

/* 4) Shelves */

#shelf {
  font-size: 2em;
}

#shelf-front {
  position: absolute;
  top: 560px;
  width: 96%;
  height: 50px;
  background-color: #9F5F1E;
  z-index: 2;  /* shelf-front */
  box-shadow: 10px 10px 10px #707070;
  margin-right: 20px;
  margin-left: 10px;
}

#shelf-back {
  position: absolute;
  top: 510px;
  width: 96%;
  height: 50px;
  margin-right: 20px;
  margin-left: 10px;
  background-color: #B47230;
  border-radius: 10px 10px 0 0;
  z-index: 0;  /* shelf-back */
}

.edit-shelf-button {
  position: absolute;
  top: 568px;
  left: -100px;
  z-index: 11;  /* edit-shelf-button */
}
/* 5) Books */

.book-spine {
  color: #FFFFFF;
  display: flex;
  cursor: pointer;
  justify-content: center;
  width: 421.5px;
}

.blue {
  background-color: #03C1D9;
}
.yellow {
  background-color: #FFDA24;
}
.green {
  background-color: #1EC709;
}
.pink {
  background-color: #EB0079;
}

.title{
  align-self: center;
  text-align: center;
  margin: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 1em;
  background: linear-gradient(180deg, rgba(36,36,36,0.3267682072829131) 0%, rgba(143,143,143,0.12228641456582634) 3%, rgba(143,143,143,0.26234243697478987) 84%, rgba(36,36,36,0.26514355742296913) 98%);
  width: 100%;
  border-radius: 5px;
  font-size-adjust: auto;
}

.book-contents {
  box-shadow: inset 5px 0px 15px #000000;
  border-radius: 0 5px 5px 0;
  margin-top: 2px;
  height: 60px;
  /* align-content: flex-start; */
  z-index: 1;  /* book-contents */
}

.bookshelf-content {
  margin-left: 220px;
  transform: rotate(-90deg);
  position: absolute;
  left: 130px;
  /* left: 0px; */
  top: -50px;
  display: block;
  justify-content: flex-start;
  z-index: 1;  /* bookshelf-content */
}

.book-cover-image {
  margin-top: 20px;
  height: 400px;
  width: 300px;
  background-color: #D3D3D3;
  border-style: double;
  border-color: #707070;
  border-width: thin;
  position: relative;
}

.book-show-right {
  margin-top: 200px;
  margin-right: 225px;

}

.book-show-left {
  margin-left: 275px;
}

@media only screen and (min-width: 1440px) {
  .book-show-container {
    padding-top: 80px;
    column-count: 2;
    height: 600px;
    background-image: url('/images/open-book_600x1440.png');
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media only screen and (min-width: 1200px) {
  .book-show-container {
    padding-top: 80px;
    column-count: 2;
    height: 600px;
    background-image: url('/images/open-book_500x1200.png');
    background-repeat: no-repeat;
    background-position: center;
  }

}
@media only screen and (max-width: 1300px) {
  #shelf-front {
    margin: 0px;
    width: 100%;
  }

  #shelf-back {
    margin: 0px;
    border-radius: 0px;
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .book-show-container {
    margin: 0px;
    padding-top: 20px;
    column-count: 1;
    height: 600px;
    background-image: url('/images/open-book_500x480.png');
    background-repeat: no-repeat;
    background-position: center;
  }

  .book-cover-image {
    height: 150px;
    width: 150px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }

  .book-show-left {
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .book-show-right {
    padding-top: 10px;
    width: 300px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  h3 {
    margin-top: 10px;
    font-size: 1em;
  }

  dl, li {
    font-size: .8em;
  }
}

/* 6) Timelines */

.timeline-list {
  padding-left: 30px;

}
/* 7) Events */

/* 8) Forms */
.add-book,
.delete-book {
  position: fixed;
  bottom: 60px;
  top: 0px;
  z-index: 12; /* add-book */
  padding: 20px;
  background-color: rgba(225,225,225,0.95);
}

.form-label {
  font-weight: 600;
  color: #02A7BC;
  cursor: default;
}

.form-field {
  text-decoration: none;
  height: 30px;
  margin-bottom: 16px;
}

.submit-form,
.cancel-form {
  background-color: #02A7BC;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 1em;
  margin-top: 10px;
  width: 150px;
  opacity: 1;
  align-self: center;
  vertical-align: middle;
}

/* 9) Admin-specific */

/* 10) Animation */

/* NEW BOOK FORM */
.visible{
  opacity: 1;
  visibility: visible;
  transform: translateX(0px);
  transition: all .5s;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transform: translateX(-100px);
  transition: all .5s;
}

/* FLIPPING TILES */
/* .flip-container {
perspective: 1000px;
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
transform: rotateY(180deg);
}

.flip-container, .front, .back {
height: 190px;
width: 1260px;
} */

/* flip speed goes here */
/* .flipper {
transition: 0.6s;
transform-style: preserve-3d;
position: relative;
} */

/* hide back of pane during swap */
/* .front, .back {
backface-visibility: hidden;

position: absolute;
top: 0;
left: 0;
} */

/* front pane, placed above back */
/* .front {
z-index: 2; */
/* for firefox 31 */
/* transform: rotateY(0deg);
} */

/* back, initially hidden pane */
/* .back {
transform: rotateY(180deg);
} */


/* 11) Error Messages */
