/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
/* TABLE OF CONTENTS */
/* 1) General */
/* 2) Welcome Page */
/* 3) Users */
/* 4) Shelves */
/* 5) Books */
/* 6) Timelines */
/* 7) Events */
/* 8) Forms */
/* 9) Admin-specific */
/* 10) Animation */

/* 1) General */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

body {
  background-color: #D3D3D3;
  margin: 0px;
  font-family: 'Raleway', sans-serif;
}

h1, h2 {
  padding-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  justify-content: center;
  text-align: center;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

dl .bold-text {
  font-weight: bold:
}
.page-header {
  background-color: rgba(211, 211, 211, 0.5);
  z-index: 100;
  margin-top: 0px;
  padding-top: 20px;
}

.hide {
  visibility: hidden;
}


/* 2) Welcome Page */
.welcome-box {
  display: flow-root;
  background-color: white;
  border-radius: 10px;
  width: 400px;
  justify-content: center;
}

#nav-bar {
  width: 100%;
  height: 70px;
  align-items: center;
  background-color: #D3D3D3;
  position: fixed;
  bottom: 60px;
  margin: 0;
  padding: 15px;
  z-index: 30;
}

#nav-icons {
  color: white;
  display: flex;
  justify-content: space-between;
}

#nav-circles {
  margin: 10px;
}

.nav-circle {
  margin: 10px;
  padding: 10px;
  shape-margin: 10px;
}

#menu-bar {
  background-color: white;
  position: fixed;
  bottom: 0;
  height: 60px;
  padding: 10px;
}

.menu-icon {
  padding-left: 200px;
  padding-right: 200px;
  color: gray;
  display: flex;
  justify-content: space-between;
}

.nav-circles {
  color: pink;
}

.container {
  padding-left: 20px;
}

/* 3) Users */

/* 4) Shelves */

#shelf {
  font-size: 2em;
}

#shelfFront {
  position: fixed;
  bottom: 140px;
  width: 96%;
  height: 42px;
  background-color: #9F5F1E;
  z-index: 50;
  box-shadow: 10px 10px 10px #707070;
  margin-right: 20px;
}

#shelfBack {
  position: fixed;
  bottom: 175px;
  width: 96%;
  height: 50px;
  background-color: #B47230;
  border-radius: 10px 10px 0 0;
  z-index: -1;
}

/* 5) Books */

.book-spine {
  color: #FFFFFF;
  display: flex;
  cursor: pointer;
}

.blue {
  background-color: #03C1D9;
}
.yellow {
  background-color: #FFDA24;
}
.green {
  background-color: #1EC709;
}
.pink {
  background-color: #EB0079;
}

.title{
  align-self: center;
  margin: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: bold;
  font-size: 1.25em;
}

.author{
  align-self: center;
  padding-right: 40px;
  padding-left: 30px;
  font-style: italic;
  font-weight: lighter;
  font-size: 1em;
  justify-content:  space-around;
}

.book-contents {
  box-shadow: inset 5px -3px 15px #000000;
  border-radius: 0 5px 5px 0;
  margin-top: 2px;
  height: 60px;
  align-content: center;
  z-index: 40;
}

.bookshelf-content {
  margin-left: 200px;
  transform: rotate(-90deg);
  position: fixed;
  bottom: -5px;
  z-index: 40;
}

.book-cover-image {
  /* margin-right: 40px;
  margin-bottom: 40px; */
  height: 400px;
  width: 300px;
  background-color: #D3D3D3;
  border-style: double;
  border-color: #707070;
  border-width: thin;
}

.book-details {
}

.book-show-right {
  margin-top: 200px;
  margin-right: 225px;
}

.book-show-left {
  /* margin-top: 200px; */
  margin-left: 275px;
}

@media only screen and (min-width: 1440px) {
  .book-show-container {
    padding-top: 80px;
    column-count: 2;
    height: 600px;
    background-image: url('/images/open-book_600x1440.png');
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media only screen and (min-width: 1200px) {
  .book-show-container {
    padding-top: 80px;
    column-count: 2;
    height: 600px;
    background-image: url('/images/open-book_500x1200.png');
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media only screen and (max-width: 1199px) {
  .book-show-container {
    padding-top: 80px;
    column-count: 1;
    height: 600px;
    background-image: url('/images/open-book_500x310.png');
    background-repeat: no-repeat;
    background-position: center;
  }
}




/* 6) Timelines */

.timeline-list {
  padding-left: 30px;
}
/* 7) Events */

/* 8) Forms */

/* 9) Admin-specific */

/* 10) Animation */


/* FLIPPING TILES */
/* .flip-container {
perspective: 1000px;
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
transform: rotateY(180deg);
}

.flip-container, .front, .back {
height: 190px;
width: 1260px;
} */

/* flip speed goes here */
/* .flipper {
transition: 0.6s;
transform-style: preserve-3d;
position: relative;
} */

/* hide back of pane during swap */
/* .front, .back {
backface-visibility: hidden;

position: absolute;
top: 0;
left: 0;
} */

/* front pane, placed above back */
/* .front {
z-index: 2; */
/* for firefox 31 */
/* transform: rotateY(0deg);
} */

/* back, initially hidden pane */
/* .back {
transform: rotateY(180deg);
} */
